/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: hsl(221, 100%, 96%);
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 736px;
  height: 512px;
  align-items: center;
  margin: auto;
}
.result-div {
  width: 368px;
  height: 512px;
  background: rgb(103, 67, 255);
  background: linear-gradient(
    180deg,
    rgba(103, 67, 255, 1) 0%,
    rgb(80, 51, 194) 81%,
    #5134c8 100%
  );
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  box-shadow: 2px 2px 2px 2px rgb(233, 230, 247);
}
.overall-score {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  width: 200px;
  height: 200px;
  background: rgb(103, 67, 255);
  background: linear-gradient(
    180deg,
    rgba(103, 67, 255, 1) 0%,
    rgba(77, 33, 201, 1) 81%,
    rgb(52, 32, 156) 100%
  );
  border-radius: 50%;
}
.score {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  color: #cac9ff;
  margin-top: 35px;
}
.total-score {
  color: hsl(0, 0%, 100%);
  font-size: 72px;
  font-weight: 700;
  margin: 0;
}
.target-score {
  color: #cac9ff;
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
  margin-top: 0;
}
.remarks {
  font-size: 18px;
  font-weight: 400;
  color: #cac9ff;
  margin-left: 2.9em;
  margin-right: 2.9em;
}
h3 {
  align-self: flex-start;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #303b59;
  margin-bottom: 0;
}
.summary {
  width: 368px;
  height: 512px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 2px 2px 2px 1px hsl(0, 0%, 100%);
}
.summary-scores1,
.summary-scores2,
.summary-scores3,
.summary-scores4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 288px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}
.summary-scores1 {
  border-radius: 0.8rem;
  background-color: hsl(0, 95%, 95%);
}
.summary-scores2 {
  border-radius: 0.8rem;
  background-color: hsl(39, 95%, 95%);
}
.summary-scores3 {
  border-radius: 0.8rem;
  background-color: hsl(166, 95%, 95%);
}
.summary-scores4 {
  border-radius: 0.8rem;
  background-color: hsl(234, 95%, 95%);
}
.icons {
  padding-right: 0.8em;
  padding-top: 0.2em;
}
.reaction {
  font-size: 18px;
  font-weight: 400;
  color: hsl(0, 100%, 67%);
}
.memory {
  font-size: 18px;
  font-weight: 400;
  color: hsl(39, 100%, 56%);
}
.verbal {
  font-size: 18px;
  font-weight: 400;
  color: hsl(166, 100%, 37%);
}
.visual {
  font-size: 18px;
  font-weight: 400;
  color: hsl(234, 85%, 45%);
}
.marks {
  font-weight: bold;
}
.on-hundred {
  font-weight: lighter;
  color: #303b59;
}
.summary-icon-p {
  display: flex;
  flex-direction: row;
}
button {
  width: 288px;
  height: 56px;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #303b59;
  border-style: none;
  align-self: center;
  font-size: 18px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  transition: background-color 0.9s;
  margin-bottom: 1em;
}
button:hover {
  background-color: hsla(256, 72%, 46%, 1);
}

/* MOBILE VERSION */

@media screen and (max-width: 690px) {
  main {
    display: flex;
    flex-direction: column;
    height: 845px;
    width: 375px;
  }
  .result-div {
    width: 375px;
    height: 356px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 0;
  }
  .summary {
    width: 375px;
    height: 453px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
  }
  .overall-score {
    width: 140px;
    height: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 18px;
    margin-top: 15px;
  }
  .total-score {
    font-size: 52px;
    margin: 0;
  }
  .target-score {
    font-size: 16px;
    margin: 0;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1em;
  }
  .remarks {
    font-size: 16px;
  }
  h3 {
    margin-left: 45px;
    font-size: 18px;
    margin-bottom: 0;
  }
  .reaction {
    font-size: 16px;
  }
  .memory {
    font-size: 16px;
  }
  .verbal {
    font-size: 16px;
  }
  .visual {
    font-size: 16px;
  }
  .icons {
    padding-right: 0.8em;
    padding-top: 0;
    padding-bottom: 0.1em;
  }
}
